* {
    margin: 0;
    padding: 0;
}

.target {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    justify-content: space-around;
    margin-bottom: 3%;

}

.portada {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

img {
    object-fit: cover;
    max-width: 50%;
    max-height: 100%;
    margin-bottom: 5%;
}

h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 4%;
    font-size: 20px;
    color: white;
    margin-top: 5%;
}

.prrfo {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-left: 20%;
    color: #ffc107;
    }

.num{
    color: white;
}

li {
    display: grid;
    grid-template-columns: (4fr);
}

.textos {
    display: flex;
    flex-direction: column;
    justify-content: end;
}


ul li {
    list-style: none;
}

.contenedor {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
  }
  
  .boton {
    display: flex;
    align-items: center;
    padding: 10px 0px 0px 20px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .boton:hover {
    background-color: #007bff; 
    color: white;
  }
  
  .botonComprar {
    font-size: 16px;
    background-color: transparent;
    color: #007bff;
    border: 2px solid #007bff;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  }
  
  .botonComprar:hover {
    background-color: #007bff;
    color: white;
    border-color: #0056b3;
  }
  
  .boton1.amarillo {
    color: #ffc107;
  }
  
  .boton1{
    display: flex;
    align-items: center;
    padding: 5px 10px;
    font-size: 16px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .boton1:hover {
    background-color: #007bff; 
    color: white;
  }
  
  .contenedor-botones {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .contador {
    font-size: 18px;
    margin-top: 10px;
    display: flex;
    justify-content: end;
    padding-right: 20%;
  }