.header {
    background-color: #333;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 4%;
  }
  
  h1 {
    font-family: 'Harry P', sans-serif;
    font-size: 36px;
    margin-bottom: 15px;
    color: #ffc107;
  }
  
